$color-navy: #0f162a;
$color-blue: #0846b1;
$color-white: #ffffff;
$color-gray-bg: #f8f8f8;
$color-text: #242424;
$color-text-sub: #666666;
$color-border: #e2e2e2;
$color-highlight: #d1dff0;

$font-family-base: "Noto Sans JP", sans-serif;
$font-family-num: "Poppins", sans-serif;

$breakpoint-sp: 768px;
$watch-nav-height: 72px;
